USE [master]
GO
/****** Object:  Database [db_douban]    Script Date: 2018/12/23 10:26:45 ******/
CREATE DATABASE [db_douban]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_douban', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\db_douban.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_douban_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\db_douban_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_douban].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_douban]
GO
/****** Object:  Table [dbo].[area]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[areaId] [int] IDENTITY(1,1) NOT NULL,
	[areaName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_area] PRIMARY KEY CLUSTERED 
(
	[areaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[award]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[award](
	[awdId] [int] IDENTITY(1,1) NOT NULL,
	[chName] [nvarchar](50) NOT NULL,
	[enName] [varchar](50) NULL,
	[awdDate] [date] NOT NULL,
	[awdCountry] [nvarchar](50) NOT NULL,
	[website] [varchar](50) NULL,
 CONSTRAINT [PK_awardtable] PRIMARY KEY CLUSTERED 
(
	[awdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[awardInfo]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[awardInfo](
	[awdInfoId] [int] IDENTITY(1,1) NOT NULL,
	[awdId] [int] NOT NULL,
	[awdInfoName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_awardinfo] PRIMARY KEY CLUSTERED 
(
	[awdInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[celebAwardInfo]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[celebAwardInfo](
	[awdInfoId] [int] NOT NULL,
	[celebId] [int] NOT NULL,
	[state] [nchar](2) NOT NULL,
 CONSTRAINT [PK_characterawardinfo] PRIMARY KEY CLUSTERED 
(
	[awdInfoId] ASC,
	[celebId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[celebrity]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[celebrity](
	[celebId] [int] IDENTITY(1,1) NOT NULL,
	[chName] [nvarchar](50) NOT NULL,
	[enName] [nvarchar](50) NULL,
	[otherChName] [nvarchar](50) NULL,
	[otherEnName] [nvarchar](50) NULL,
	[avatar] [text] NULL,
	[sex] [nchar](1) NOT NULL,
	[constellation] [nvarchar](50) NULL,
	[birthplace] [nvarchar](50) NULL,
	[birthday] [date] NULL,
	[deathday] [date] NULL,
	[familyMember] [nvarchar](200) NULL,
	[IMDb] [varchar](20) NULL,
	[intro] [text] NULL,
 CONSTRAINT [PK_character] PRIMARY KEY CLUSTERED 
(
	[celebId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[comment]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[comment](
	[uId] [int] NOT NULL,
	[mId] [int] NOT NULL,
	[state] [nchar](2) NULL,
	[score] [float] NULL,
	[cmtTime] [datetime] NULL,
	[cmtContent] [text] NOT NULL,
	[likeNum] [int] NULL,
	[isVisible] [char](1) NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[uId] ASC,
	[mId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[language]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[language](
	[languageId] [int] IDENTITY(1,1) NOT NULL,
	[languageName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_language] PRIMARY KEY CLUSTERED 
(
	[languageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movie]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[movie](
	[mId] [int] IDENTITY(1,1) NOT NULL,
	[chName] [nvarchar](50) NOT NULL,
	[originName] [nvarchar](50) NULL,
	[otherName] [nvarchar](100) NULL,
	[poster] [text] NULL,
	[releaseDate] [date] NOT NULL,
	[timeLength] [varchar](5) NOT NULL,
	[plot] [text] NOT NULL,
	[IMDb] [varchar](20) NULL,
	[website] [varchar](100) NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[mId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[movieArea]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieArea](
	[mId] [int] NOT NULL,
	[areaId] [int] NOT NULL,
 CONSTRAINT [PK_marea] PRIMARY KEY CLUSTERED 
(
	[areaId] ASC,
	[mId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movieAwardInfo]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieAwardInfo](
	[awdInfoId] [int] NOT NULL,
	[mId] [int] NOT NULL,
	[state] [nchar](2) NULL,
 CONSTRAINT [PK_movawardinfo] PRIMARY KEY CLUSTERED 
(
	[awdInfoId] ASC,
	[mId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movieLanguage]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieLanguage](
	[mId] [int] NOT NULL,
	[languageId] [int] NOT NULL,
 CONSTRAINT [PK_mlanguage_1] PRIMARY KEY CLUSTERED 
(
	[languageId] ASC,
	[mId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movieRole]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieRole](
	[mrId] [int] IDENTITY(1,1) NOT NULL,
	[celebId] [int] NOT NULL,
	[mId] [int] NOT NULL,
	[profName] [nvarchar](50) NOT NULL,
	[roleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_movieRole] PRIMARY KEY CLUSTERED 
(
	[mrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movieScore]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieScore](
	[mId] [int] NOT NULL,
	[totalScore] [float] NOT NULL,
	[totalNumber] [int] NOT NULL,
	[fiveStar] [int] NOT NULL,
	[fourStar] [int] NOT NULL,
	[threeStar] [int] NOT NULL,
	[twoStar] [int] NOT NULL,
	[oneStar] [int] NOT NULL,
 CONSTRAINT [PK_score] PRIMARY KEY CLUSTERED 
(
	[mId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movieTag]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieTag](
	[mId] [int] NOT NULL,
	[tagId] [int] NOT NULL,
	[weight] [int] NOT NULL,
 CONSTRAINT [PK_movtag] PRIMARY KEY CLUSTERED 
(
	[mId] ASC,
	[tagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movieType]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieType](
	[mId] [int] NOT NULL,
	[typeId] [int] NOT NULL,
 CONSTRAINT [PK_mtype_1] PRIMARY KEY CLUSTERED 
(
	[typeId] ASC,
	[mId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tag]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[tagId] [int] IDENTITY(1,1) NOT NULL,
	[tagName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_tagtable] PRIMARY KEY CLUSTERED 
(
	[tagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[type]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[typeId] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_type] PRIMARY KEY CLUSTERED 
(
	[typeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[userinfo]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userinfo](
	[uId] [int] NOT NULL,
	[image] [text] NULL,
	[intro] [text] NULL,
	[registDate] [date] NULL,
	[city] [nvarchar](30) NULL,
 CONSTRAINT [PK_userinfo] PRIMARY KEY CLUSTERED 
(
	[uId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usertable]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usertable](
	[uId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](30) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[phoneNumber] [char](11) NOT NULL,
	[email] [varchar](30) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[uId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userTag]    Script Date: 2018/12/23 10:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userTag](
	[uId] [int] NOT NULL,
	[tagId] [int] NOT NULL,
 CONSTRAINT [PK_persontag] PRIMARY KEY CLUSTERED 
(
	[uId] ASC,
	[tagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[area] ON 

INSERT [dbo].[area] ([areaId], [areaName]) VALUES (1, N'中国大陆')
INSERT [dbo].[area] ([areaId], [areaName]) VALUES (2, N'美国')
INSERT [dbo].[area] ([areaId], [areaName]) VALUES (3, N'香港')
SET IDENTITY_INSERT [dbo].[area] OFF
SET IDENTITY_INSERT [dbo].[award] ON 

INSERT [dbo].[award] ([awdId], [chName], [enName], [awdDate], [awdCountry], [website]) VALUES (1, N'第22届香港电影金像奖', N'The 22nd Hong Kong Film Awards', CAST(0xAE280B00 AS Date), N'中国香港', N'www.hkfaa.com')
INSERT [dbo].[award] ([awdId], [chName], [enName], [awdDate], [awdCountry], [website]) VALUES (2, N'第23届日本电影学院奖', N'The 23rd Japan Academy Prize', CAST(0x4C240B00 AS Date), N'日本', N'www.japan-academy-prize.jp')
INSERT [dbo].[award] ([awdId], [chName], [enName], [awdDate], [awdCountry], [website]) VALUES (3, N'第67届奥斯卡金像奖', N'The 67th Academy Awards', CAST(0x3A1D0B00 AS Date), N'美国,洛杉矶', N'oscar.go.com')
SET IDENTITY_INSERT [dbo].[award] OFF
SET IDENTITY_INSERT [dbo].[awardInfo] ON 

INSERT [dbo].[awardInfo] ([awdInfoId], [awdId], [awdInfoName]) VALUES (1, 1, N'最佳电影 ')
INSERT [dbo].[awardInfo] ([awdInfoId], [awdId], [awdInfoName]) VALUES (2, 1, N'最佳导演')
INSERT [dbo].[awardInfo] ([awdInfoId], [awdId], [awdInfoName]) VALUES (3, 1, N'最佳编剧 ')
SET IDENTITY_INSERT [dbo].[awardInfo] OFF
INSERT [dbo].[celebAwardInfo] ([awdInfoId], [celebId], [state]) VALUES (2, 1, N'获奖')
INSERT [dbo].[celebAwardInfo] ([awdInfoId], [celebId], [state]) VALUES (2, 2, N'获奖')
INSERT [dbo].[celebAwardInfo] ([awdInfoId], [celebId], [state]) VALUES (4, 4, N'获奖')
SET IDENTITY_INSERT [dbo].[celebrity] ON 

INSERT [dbo].[celebrity] ([celebId], [chName], [enName], [otherChName], [otherEnName], [avatar], [sex], [constellation], [birthplace], [birthday], [deathday], [familyMember], [IMDb], [intro]) VALUES (2, N'麦兆辉', N'Alan Mak', NULL, N'Alan Mak Siu Fai / Mak Siu Fai / Siu Fai Mak', N'D:/', N'男', N'摩羯座', N'香港', CAST(0x18F20A00 AS Date), NULL, NULL, N'nm0538320', N'麦兆辉是近年备受瞩目的编剧与导演，擅长营造独特风格及角色。其代表作包括《追凶 20年》及《爱与诚》。他也积极尝试不同挑战，如担任刘伟强导演、刘德华主演的《爱君如梦》监制。麦兆辉 1990年在香港演艺学院演员系毕业，1991年开始为一些小成本的电影担任副导演，多年前在没有人邀请他开拍、也不知道有没有机会开拍的情况下，写好了《无间道》的剧本，但多次尝试都没人愿意拍，不过好在寰亚慧眼识珠，最终成就了香港电影史上的经典--《无间道》三部曲。麦兆辉也跻身一线导演行列。')
INSERT [dbo].[celebrity] ([celebId], [chName], [enName], [otherChName], [otherEnName], [avatar], [sex], [constellation], [birthplace], [birthday], [deathday], [familyMember], [IMDb], [intro]) VALUES (3, N'刘德华', N'Andy Lau', N'刘福荣(幼时学名) / 华仔(昵称) ', N'Lau Tak Wah (本名) / Wah Jai (昵称) ', N'D:/', N'男', N'天秤座', N'香港,新界', CAST(0x70ED0A00 AS Date), NULL, N'朱丽倩(妻) / 刘向蕙(女)', N'nm0490489', N'刘德华，著名演员和歌手。1990年代被封为香港“四大天王”之一，亦是大中华地区极具代表性的艺人之一。 刘德华是个多线发展的艺人：作为歌手，他是吉尼斯世界纪录大全中，获奖最多的香港歌手；电影方面他曾三度夺得香港电影金像奖最佳男主角、以及获得两座台湾金马奖影帝，截止2010年参与出演的电影已经超过140部。')
SET IDENTITY_INSERT [dbo].[celebrity] OFF
INSERT [dbo].[comment] ([uId], [mId], [state], [score], [cmtTime], [cmtContent], [likeNum], [isVisible]) VALUES (1, 1, N'看过', 10, CAST(0x000096FB00000000 AS DateTime), N'当年的奥斯卡颁奖礼上，被如日中天的《阿甘正传》掩盖了它的光彩，而随着时间的推移，这部电影在越来越多的人们心中的地位已超越了《阿甘》。每当现实令我疲惫得产生无力感，翻出这张碟，就重获力量。毫无疑问，本片位列男人必看的电影前三名！回顾那一段经典台词：“有的人的羽翼是如此光辉，即使世界上最黑暗的牢狱，也无法长久地将他围困！” ', 10686, N'Y')
INSERT [dbo].[comment] ([uId], [mId], [state], [score], [cmtTime], [cmtContent], [likeNum], [isVisible]) VALUES (1, 2, N'看过', 10, CAST(0x0000A9BD012D02C9 AS DateTime), N'在野路子出身的张国荣面前，学院出身的张丰毅显得那么单薄', 16282, N'Y')
INSERT [dbo].[comment] ([uId], [mId], [state], [score], [cmtTime], [cmtContent], [likeNum], [isVisible]) VALUES (1, 5, N'看过', 9, CAST(0x0000A9BD012D02C9 AS DateTime), N'“凡救人一命，即救全世界！”一段如此深刻的历史，多么希望它早早结束，但如此一部经典的影片你却永远都不想它完结。感动于良知，印象很深刻的永远是黑白画面中的那一抹红色。在任何时代，不管有多么的黑暗，都会有人性的光辉在闪烁着；经典的影片也不会因为缺失色彩而让人觉得沉闷', 5282, N'Y')
SET IDENTITY_INSERT [dbo].[language] ON 

INSERT [dbo].[language] ([languageId], [languageName]) VALUES (1, N'汉语普通话')
INSERT [dbo].[language] ([languageId], [languageName]) VALUES (2, N'英语')
INSERT [dbo].[language] ([languageId], [languageName]) VALUES (3, N'德语')
SET IDENTITY_INSERT [dbo].[language] OFF
SET IDENTITY_INSERT [dbo].[movie] ON 

INSERT [dbo].[movie] ([mId], [chName], [originName], [otherName], [poster], [releaseDate], [timeLength], [plot], [IMDb], [website]) VALUES (2, N'霸王别姬', NULL, N'再见，我的妾 / Farewell My Concubine', N'D:/', CAST(0x0B1A0B00 AS Date), N'171', N'暂无简介', N'tt0106332', N'暂无')
SET IDENTITY_INSERT [dbo].[movie] OFF
INSERT [dbo].[movieArea] ([mId], [areaId]) VALUES (2, 1)
INSERT [dbo].[movieArea] ([mId], [areaId]) VALUES (15, 1)
INSERT [dbo].[movieArea] ([mId], [areaId]) VALUES (18, 1)
INSERT [dbo].[movieAwardInfo] ([awdInfoId], [mId], [state]) VALUES (1, 21, N'获奖')
INSERT [dbo].[movieAwardInfo] ([awdInfoId], [mId], [state]) VALUES (3, 21, N'获奖')
INSERT [dbo].[movieAwardInfo] ([awdInfoId], [mId], [state]) VALUES (7, 21, N'获奖')
INSERT [dbo].[movieLanguage] ([mId], [languageId]) VALUES (2, 1)
INSERT [dbo].[movieLanguage] ([mId], [languageId]) VALUES (15, 1)
INSERT [dbo].[movieLanguage] ([mId], [languageId]) VALUES (18, 1)
SET IDENTITY_INSERT [dbo].[movieRole] ON 

INSERT [dbo].[movieRole] ([mrId], [celebId], [mId], [profName], [roleName]) VALUES (1, 1, 21, N'导演', NULL)
INSERT [dbo].[movieRole] ([mrId], [celebId], [mId], [profName], [roleName]) VALUES (2, 1, 21, N'摄影', NULL)
INSERT [dbo].[movieRole] ([mrId], [celebId], [mId], [profName], [roleName]) VALUES (3, 1, 21, N'制片人', NULL)
SET IDENTITY_INSERT [dbo].[movieRole] OFF
INSERT [dbo].[movieScore] ([mId], [totalScore], [totalNumber], [fiveStar], [fourStar], [threeStar], [twoStar], [oneStar]) VALUES (1, 9.6, 1234931, 1034930, 177840, 20995, 1235, 1235)
INSERT [dbo].[movieScore] ([mId], [totalScore], [totalNumber], [fiveStar], [fourStar], [threeStar], [twoStar], [oneStar]) VALUES (2, 9.6, 909407, 736620, 149143, 21825, 1819, 909)
INSERT [dbo].[movieScore] ([mId], [totalScore], [totalNumber], [fiveStar], [fourStar], [threeStar], [twoStar], [oneStar]) VALUES (3, 9.6, 149219, 120867, 25516, 2686, 149, 149)
INSERT [dbo].[movieTag] ([mId], [tagId], [weight]) VALUES (1, 1, 30000)
INSERT [dbo].[movieTag] ([mId], [tagId], [weight]) VALUES (1, 5, 29999)
INSERT [dbo].[movieTag] ([mId], [tagId], [weight]) VALUES (1, 18, 29970)
GO
INSERT [dbo].[movieType] ([mId], [typeId]) VALUES (1, 1)
INSERT [dbo].[movieType] ([mId], [typeId]) VALUES (2, 1)
INSERT [dbo].[movieType] ([mId], [typeId]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[tag] ON 

INSERT [dbo].[tag] ([tagId], [tagName]) VALUES (1, N'经典')
INSERT [dbo].[tag] ([tagId], [tagName]) VALUES (2, N'青春')
INSERT [dbo].[tag] ([tagId], [tagName]) VALUES (3, N'文艺')
SET IDENTITY_INSERT [dbo].[tag] OFF
SET IDENTITY_INSERT [dbo].[type] ON 

INSERT [dbo].[type] ([typeId], [typeName]) VALUES (1, N'剧情')
INSERT [dbo].[type] ([typeId], [typeName]) VALUES (2, N'喜剧')
INSERT [dbo].[type] ([typeId], [typeName]) VALUES (3, N'动作')
SET IDENTITY_INSERT [dbo].[type] OFF
INSERT [dbo].[userinfo] ([uId], [image], [intro], [registDate], [city]) VALUES (1, NULL, N'大家好我是用户1', CAST(0xDB3A0B00 AS Date), N'北京')
INSERT [dbo].[userinfo] ([uId], [image], [intro], [registDate], [city]) VALUES (2, NULL, N'大家好我是用户2', CAST(0x363B0B00 AS Date), N'上海')
INSERT [dbo].[userinfo] ([uId], [image], [intro], [registDate], [city]) VALUES (3, NULL, N'大家好我是用户3', CAST(0x913B0B00 AS Date), N'深圳')
SET IDENTITY_INSERT [dbo].[usertable] ON 

INSERT [dbo].[usertable] ([uId], [userName], [password], [phoneNumber], [email]) VALUES (1, N'用户1', N'111', N'10112341234', N'10112341234@163.com')
INSERT [dbo].[usertable] ([uId], [userName], [password], [phoneNumber], [email]) VALUES (2, N'用户2', N'111', N'10212341234', N'10212341234@163.com')
INSERT [dbo].[usertable] ([uId], [userName], [password], [phoneNumber], [email]) VALUES (3, N'用户3', N'111', N'10312341234', N'10312341234@163.com')
SET IDENTITY_INSERT [dbo].[usertable] OFF
INSERT [dbo].[userTag] ([uId], [tagId]) VALUES (1, 1)
INSERT [dbo].[userTag] ([uId], [tagId]) VALUES (1, 2)
INSERT [dbo].[userTag] ([uId], [tagId]) VALUES (1, 3)
SET ANSI_PADDING ON

GO
/****** Object:  Index [unique_email]    Script Date: 2018/12/23 10:26:48 ******/
ALTER TABLE [dbo].[usertable] ADD  CONSTRAINT [unique_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [unique_phonenum]    Script Date: 2018/12/23 10:26:48 ******/
ALTER TABLE [dbo].[usertable] ADD  CONSTRAINT [unique_phonenum] UNIQUE NONCLUSTERED 
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[award] ADD  CONSTRAINT [DF_award_website]  DEFAULT ('暂无') FOR [website]
GO
ALTER TABLE [dbo].[comment] ADD  CONSTRAINT [DF_comment_committime]  DEFAULT (getdate()) FOR [cmtTime]
GO
ALTER TABLE [dbo].[comment] ADD  CONSTRAINT [DF_comment_likes]  DEFAULT ((0)) FOR [likeNum]
GO
ALTER TABLE [dbo].[comment] ADD  CONSTRAINT [DF_comment_visible]  DEFAULT ('Y') FOR [isVisible]
GO
ALTER TABLE [dbo].[movie] ADD  CONSTRAINT [DF_movie_plot]  DEFAULT ('暂无简介') FOR [plot]
GO
ALTER TABLE [dbo].[movie] ADD  CONSTRAINT [DF_movie_website]  DEFAULT ('暂无') FOR [website]
GO
ALTER TABLE [dbo].[movieRole] ADD  CONSTRAINT [DF_staff_status]  DEFAULT ('演员') FOR [profName]
GO
ALTER TABLE [dbo].[movieScore] ADD  CONSTRAINT [DF_score_totalscore]  DEFAULT ((0)) FOR [totalScore]
GO
ALTER TABLE [dbo].[movieScore] ADD  CONSTRAINT [DF_score_totalnumber]  DEFAULT ((0)) FOR [totalNumber]
GO
ALTER TABLE [dbo].[movieScore] ADD  CONSTRAINT [DF_score_fivestars]  DEFAULT ((0)) FOR [fiveStar]
GO
ALTER TABLE [dbo].[movieScore] ADD  CONSTRAINT [DF_score_fourstars]  DEFAULT ((0)) FOR [fourStar]
GO
ALTER TABLE [dbo].[movieScore] ADD  CONSTRAINT [DF_score_threestars]  DEFAULT ((0)) FOR [threeStar]
GO
ALTER TABLE [dbo].[movieScore] ADD  CONSTRAINT [DF_score_twostars]  DEFAULT ((0)) FOR [twoStar]
GO
ALTER TABLE [dbo].[movieScore] ADD  CONSTRAINT [DF_score_onestar]  DEFAULT ((0)) FOR [oneStar]
GO
ALTER TABLE [dbo].[movieTag] ADD  CONSTRAINT [DF_movtag_weight]  DEFAULT ((0)) FOR [weight]
GO
ALTER TABLE [dbo].[userinfo] ADD  CONSTRAINT [DF_userinfo_registdate]  DEFAULT (getdate()) FOR [registDate]
GO
ALTER TABLE [dbo].[awardInfo]  WITH CHECK ADD  CONSTRAINT [FK_awardInfo_award] FOREIGN KEY([awdId])
REFERENCES [dbo].[award] ([awdId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[awardInfo] CHECK CONSTRAINT [FK_awardInfo_award]
GO
ALTER TABLE [dbo].[celebAwardInfo]  WITH CHECK ADD  CONSTRAINT [FK_celebAwardInfo_awardInfo] FOREIGN KEY([awdInfoId])
REFERENCES [dbo].[awardInfo] ([awdInfoId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[celebAwardInfo] CHECK CONSTRAINT [FK_celebAwardInfo_awardInfo]
GO
ALTER TABLE [dbo].[celebAwardInfo]  WITH CHECK ADD  CONSTRAINT [FK_celebAwardInfo_celebrity] FOREIGN KEY([celebId])
REFERENCES [dbo].[celebrity] ([celebId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[celebAwardInfo] CHECK CONSTRAINT [FK_celebAwardInfo_celebrity]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_movie] FOREIGN KEY([mId])
REFERENCES [dbo].[movie] ([mId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_movie]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_user] FOREIGN KEY([uId])
REFERENCES [dbo].[usertable] ([uId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_user]
GO
ALTER TABLE [dbo].[movieArea]  WITH CHECK ADD  CONSTRAINT [FK_movieArea_area] FOREIGN KEY([areaId])
REFERENCES [dbo].[area] ([areaId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieArea] CHECK CONSTRAINT [FK_movieArea_area]
GO
ALTER TABLE [dbo].[movieArea]  WITH CHECK ADD  CONSTRAINT [FK_movieArea_movie] FOREIGN KEY([mId])
REFERENCES [dbo].[movie] ([mId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieArea] CHECK CONSTRAINT [FK_movieArea_movie]
GO
ALTER TABLE [dbo].[movieAwardInfo]  WITH CHECK ADD  CONSTRAINT [FK_movieAwardInfo_awardInfo] FOREIGN KEY([awdInfoId])
REFERENCES [dbo].[awardInfo] ([awdInfoId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieAwardInfo] CHECK CONSTRAINT [FK_movieAwardInfo_awardInfo]
GO
ALTER TABLE [dbo].[movieAwardInfo]  WITH CHECK ADD  CONSTRAINT [FK_movieAwardInfo_movie] FOREIGN KEY([mId])
REFERENCES [dbo].[movie] ([mId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieAwardInfo] CHECK CONSTRAINT [FK_movieAwardInfo_movie]
GO
ALTER TABLE [dbo].[movieLanguage]  WITH CHECK ADD  CONSTRAINT [FK_movieLanguage_language] FOREIGN KEY([languageId])
REFERENCES [dbo].[language] ([languageId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieLanguage] CHECK CONSTRAINT [FK_movieLanguage_language]
GO
ALTER TABLE [dbo].[movieLanguage]  WITH CHECK ADD  CONSTRAINT [FK_movieLanguage_movie] FOREIGN KEY([mId])
REFERENCES [dbo].[movie] ([mId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieLanguage] CHECK CONSTRAINT [FK_movieLanguage_movie]
GO
ALTER TABLE [dbo].[movieRole]  WITH CHECK ADD  CONSTRAINT [FK_movieRole_celebrity] FOREIGN KEY([celebId])
REFERENCES [dbo].[celebrity] ([celebId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieRole] CHECK CONSTRAINT [FK_movieRole_celebrity]
GO
ALTER TABLE [dbo].[movieRole]  WITH CHECK ADD  CONSTRAINT [FK_movieRole_movie] FOREIGN KEY([mId])
REFERENCES [dbo].[movie] ([mId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieRole] CHECK CONSTRAINT [FK_movieRole_movie]
GO
ALTER TABLE [dbo].[movieScore]  WITH CHECK ADD  CONSTRAINT [FK_movieScore_movie] FOREIGN KEY([mId])
REFERENCES [dbo].[movie] ([mId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieScore] CHECK CONSTRAINT [FK_movieScore_movie]
GO
ALTER TABLE [dbo].[movieTag]  WITH CHECK ADD  CONSTRAINT [FK_movieTag_movie] FOREIGN KEY([mId])
REFERENCES [dbo].[movie] ([mId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieTag] CHECK CONSTRAINT [FK_movieTag_movie]
GO
ALTER TABLE [dbo].[movieTag]  WITH CHECK ADD  CONSTRAINT [FK_movieTag_tag] FOREIGN KEY([tagId])
REFERENCES [dbo].[tag] ([tagId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieTag] CHECK CONSTRAINT [FK_movieTag_tag]
GO
ALTER TABLE [dbo].[movieType]  WITH CHECK ADD  CONSTRAINT [FK_movieType_movie] FOREIGN KEY([mId])
REFERENCES [dbo].[movie] ([mId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieType] CHECK CONSTRAINT [FK_movieType_movie]
GO
ALTER TABLE [dbo].[movieType]  WITH CHECK ADD  CONSTRAINT [FK_movieType_type] FOREIGN KEY([typeId])
REFERENCES [dbo].[type] ([typeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[movieType] CHECK CONSTRAINT [FK_movieType_type]
GO
ALTER TABLE [dbo].[userinfo]  WITH CHECK ADD  CONSTRAINT [FK_userinfo_user] FOREIGN KEY([uId])
REFERENCES [dbo].[usertable] ([uId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userinfo] CHECK CONSTRAINT [FK_userinfo_user]
GO
ALTER TABLE [dbo].[userTag]  WITH CHECK ADD  CONSTRAINT [FK_userTag_tag] FOREIGN KEY([tagId])
REFERENCES [dbo].[tag] ([tagId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userTag] CHECK CONSTRAINT [FK_userTag_tag]
GO
ALTER TABLE [dbo].[userTag]  WITH CHECK ADD  CONSTRAINT [FK_userTag_user] FOREIGN KEY([uId])
REFERENCES [dbo].[usertable] ([uId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userTag] CHECK CONSTRAINT [FK_userTag_user]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态（提名 / 获奖）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'celebAwardInfo', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'星座' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'celebrity', @level2type=N'COLUMN',@level2name=N'constellation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态（想看/看过）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'comment', @level2type=N'COLUMN',@level2name=N'state'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'评分' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'comment', @level2type=N'COLUMN',@level2name=N'score'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'点赞数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'comment', @level2type=N'COLUMN',@level2name=N'likeNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'简体中文名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'chName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'原名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'originName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'别名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'otherName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'海报' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'poster'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上映日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'releaseDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电影时长' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'timeLength'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'简介（情节）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'plot'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IMDb链接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'IMDb'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'官方网站' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movie', @level2type=N'COLUMN',@level2name=N'website'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'职务' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movieRole', @level2type=N'COLUMN',@level2name=N'profName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movieRole', @level2type=N'COLUMN',@level2name=N'roleName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'打分人数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movieScore', @level2type=N'COLUMN',@level2name=N'totalNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权重' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'movieTag', @level2type=N'COLUMN',@level2name=N'weight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像（直接以二进制形式存在avator中，还是存到本地再将路径存到avator中？）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'userinfo', @level2type=N'COLUMN',@level2name=N'image'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'签名 / 个人简介' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'userinfo', @level2type=N'COLUMN',@level2name=N'intro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'userinfo', @level2type=N'COLUMN',@level2name=N'registDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'居住地' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'userinfo', @level2type=N'COLUMN',@level2name=N'city'
GO
USE [master]
GO
